<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
</head>

<body>
    <h1>Chat box</h1>
    <input id="startchat" data-roomid="<%= id %>" type="hidden">
    <input type="text" id="username" placeholder="username...">
    <input type="text" id="newmsg" placeholder="message...">
    <button id="btn">Send</button>
    <span id = "typing">typing...</span>
    <ul id="msgList">
        <% for(let i=0; i<chats.length; i++){ %>
            <li><%= chats[i].user %> : <%= chats[i].content %></li>
        <% } %>
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        let startchat = document.getElementById('startchat');
        let btn = document.getElementById('btn');
        let inputMsg = document.getElementById('newmsg');
        let msgList = document.getElementById('msgList');
        let username = document.getElementById('username');
        let spanTyping = document.getElementById('typing');
        spanTyping.style.display = 'none';
        
        socket.emit('join_room', {
                roomid: startchat.getAttribute('data-roomid')
        })

        btn.onclick = function exec() {
            socket.emit('msg_sent', {
                msg: inputMsg.value,
                roomid: startchat.getAttribute('data-roomid'),
                username: username.value
            });
        }

        socket.on('msg_received', (data) => {
            spanTyping.style.display = 'none';
            let limsg = document.createElement('li');
            limsg.innerText = `${data.username} : ${data.msg}`;
            msgList.appendChild(limsg);
        })

        inputMsg.addEventListener('keypress',(event) => {
            socket.emit('typing',{
                roomid: startchat.getAttribute('data-roomid'),
            })
        })

        socket.on('someone_typing',(data)=>{
            spanTyping.style.display = 'block';
        })
    </script>
</body>

</html>